* { padding:0; margin:0; text-decoration:none; color:#3b3b3b; list-style: none;}
body { padding:30px;}
table { width: 100%; border-collapse:collapse; border-spacing:0;}
table.type1 caption { padding: 0 0 10px; font-size: 20px; font-weight: bold;}
table.type1 thead { background:#27ae60; }
table.type1 thead th { color:#fff; padding:5px;}
table.type1 tbody th { text-align: left; padding: 10px;}
table.type1 tbody td { text-align: center;}
table.type1 tbody tr:nth-child(odd) { background: #e9e9e9;}
table.type1 tbody tr:nth-child(even) { background: #f6f6f6;}
table.type1 tbody tr:hover > * { background:rgba(234,97,81,.2);}
table.type1 tbody tr:hover th { color:#ea6153;}
h1 { text-transform: uppercase; text-align: center;}
div[id] { margin:0 0 50px;}
.box { padding:40px 30px 10px; border: 5px solid #ea6153;}
.box > * { display: block; border: 3px dashed #2980b9; margin:0 0 30px; padding: 5px;}
.box table { display: table;}
.box th,
.box td { border: 1px solid orange;}
.box input,
.box label { display: inline;}
.box style { visibility:hidden;}
nav { padding: 20px 0; position: sticky; top: 0;}
nav ul { display: flex;}
nav li { flex:1; padding: 0 5px;}
nav li a:target,
nav li.on a { background: #ea6153; color:#fff;}
nav li a { display: block; height: 30px; line-height: 30px;text-align: center; border: 1px solid #ea6153; background: #fff; border-radius: 3px;}

/*
27ae60
ea6153
2980b9
 */
